/*<!--~~~~~~~~ Cube ~~~~~~~~-->*/
.cube {
    position: relative;
    margin: 0 auto 100px;
    height: 400px;
    width: 400px;
    -webkit-transition: -webkit-transform 50ms linear;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateX(-10deg) rotateY(20deg);
    -moz-transition: -moz-transform 50ms linear;
    -moz-transform-style: preserve-3d;
    -moz-transform: rotateX(-10deg) rotateY(20deg);
    transition: transform 50ms linear;
    transform-style: preserve-3d;
    transform: rotateX(-10deg) rotateY(20deg);
}

/*.cube h2 {
    color: #fff;
    padding-top: 0;
    margin-top: 0;
}*/

/*.cube a {
    color: #fff;
}*/

.cube > div {
    position: absolute;
    height: 360px;
    width: 360px;
    padding: 20px;
    background-color: rgba(50, 50, 50, 0.6);
    font-size: 1em;
    line-height: 1em;
    color: #fff;
    border: 1px solid #555;
    border-radius: 3px;
}

.cube > div:first-child  {
    -webkit-transform: rotateX(90deg) translateZ(200px);
    -moz-transform: rotateX(90deg) translateZ(200px);
    transform: rotateX(90deg) translateZ(200px);
}

.cube > div:nth-child(2) {
    -webkit-transform: translateZ(200px);
    -moz-transform: translateZ(200px);
    transform: translateZ(200px);
}

.cube > div:nth-child(3) {
    -webkit-transform: rotateY(90deg) translateZ(200px);
    -moz-transform: rotateY(90deg) translateZ(200px);
    transform: rotateY(90deg) translateZ(200px);
    text-align: center;
}

.cube > div:nth-child(4) {
    -webkit-transform: rotateY(180deg) translateZ(200px);
    -moz-transform: rotateY(180deg) translateZ(200px);
    transform: rotateY(180deg) translateZ(200px);
}

/*.cube > div:nth-child(5) {
    -webkit-transform: rotateY(-90deg) translateZ(200px);
    -moz-transform: rotateY(-90deg) translateZ(200px);
    transform: rotateY(-90deg) translateZ(200px);
}*/

/*.cube > div:nth-child(5) p {
    text-align: center;
    font-size: 2.77em;
    margin: 40px;
    line-height: 60px;
}*/

.cube > div:nth-child(6) {
    -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
    -moz-transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
    transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
}


/*<!--~~~~~~~~ Animation logo hover navbar ~~~~~~~~-->*/
@keyframes myrotate {
     0% {
       transform: rotate(0deg); //rotation de 0 degrés au début de l'animation
     }
    100% {
       transform: rotate(359deg); //rotation de 359 degré à la fin de l'animation
    }
}

.rotate:hover {
     animation: myrotate 1.5s infinite linear; //attribue l'animation nommée "myrotate" à la classe "rotate" au passage de la souris. L'animation dure 1.5 secondes et se répète indéfiniment, avec un déroulement linéraire.
}

.rotate {
     cursor:pointer; //affiche un curseur en forme de main sur l'image lors du passage de la souris (facultatif)
}



/*<!--~~~~~~~~ Pour la compatibilité sur différents navigateurs ~~~~~~~~-->*/
@keyframes myrotate {
     0% {
       transform: rotate(0deg);
     }
    100% {
       transform: rotate(359deg);
    }
}

@-o-keyframes myrotate {
     0% {
       -o-transform: rotate(0deg);
     }
    100% {
       -o-transform: rotate(359deg);
    }
}

@-moz-keyframes myrotate {
     0% {
       -moz-transform: rotate(0deg);
     }
    100% {
       -moz-transform: rotate(359deg);
    }
}

@-webkit-keyframes myrotate {
     0% {
       -webkit-transform: rotate(0deg);
     }
    100% {
       -webkit-transform: rotate(359deg);
    }
}

@-ms-keyframes myrotate {
     0% {
       -ms-transform: rotate(0deg);
     }
    100% {
       -ms-transform: rotate(359deg);
    }
}

.rotate:hover {
     -webkit-animation: myrotate 1.5s infinite linear;
     -moz-animation: myrotate 1.5s infinite linear;
     -ms-animation: myrotate 1.5s infinite linear;
     -o-animation: myrotate 1.5s infinite linear;
     animation: myrotate 1.5s infinite linear;
}
.rotate {
     cursor:pointer;
}
